#text_boxes_1{
margin-left: 50px;
width: 45%;
}

#text_boxes_2{
    margin-right: 50px;
    width: 45%;
    }

    #output_p1{
        margin-right: 50px;
        width: 45%;
    }

    #output_p2{
        margin-right: 50px;
        width: 45%;
    }